@using Shortener.Front.Models
@model FrontendMode

@{

    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
    <div id="page"></div>
</body>

@switch (Model)
{
    case FrontendMode.Deployed:
        <link type="text/css" rel="stylesheet" media="all" href="/Content/shortener.css"/>
        <script type="text/javascript" charset="utf-8" src="/Content/shortener.js"></script>
        break;
    case FrontendMode.WebPackDevServer:
        <link type="text/css" rel="stylesheet" media="all" href="http://localhost:9909/shortener.css"/>
        <script type="text/javascript" charset="utf-8" src="http://localhost:9909/shortener.js"></script>
        break;
    case FrontendMode.RequireJs:
        <script type="text/javascript" charset="utf-8" src="/Frontend/require.config.js"></script>
        <script type="text/javascript" charset="utf-8" src="/Frontend/node_modules/requirejs/require.js"></script>

        break;
}
</html>