@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    @*<script type="text/javascript" charset="utf-8" src="node_modules/requirejs/require.js"></script>
    <script type="text/javascript" charset="utf-8" src="require.config.js"></script>*@
    <link type="text/css" rel="stylesheet" media="all" href="http://localhost:9909/shortener.css"/>
</head>
<body>
<div id="page"></div>
</body>
<script type="text/javascript" charset="utf-8" src="http://localhost:9909/shortener.js"></script>
</html>